body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00CED1;
}
.accordion-menu {
    min-width: 30em;
    max-width: 30em;
}
.accordion-item {
    border-bottom: 1px solid #ccc;
}
.accordion-header {
    background-color: #B0E57C;
    cursor: pointer;
    font-weight: bold;
}
.accordion-header .fa-solid {
    font: 900;
    padding: 20px;
    margin-right: 1em;
}
.accordion-item.active .accordion-header i {
    background-color: #AEDFF7;
}
.accordion-header .fa-solid.fa-chevron-up {
    background-color: #D3D3D3;
}
.accordion-content {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    padding-left: 1em;
    padding-right: 1em;
    /* Adicionamos uma transição mais rapida ao fechar */
}
.accordion-item.active .accordion-content {
    max-height: 500px;
    transition: max-height 2.5s ease-out;
    /* Adicionamos uma transição mais lenta ao abrir */
}